<div class="w-full h-24 bg-gray-800 p-6">
  <ul class="flex justify-center text-white p-4 font-medium ml-4">
    <li class="ml-4 hover:bg-slate-50 hover:text-gray-800 hover:p-1">Home</li>
    <li class="ml-4 hover:bg-slate-50 hover:text-gray-800">Clients</li>
    <li class="ml-4 hover:bg-slate-50 hover:text-gray-800">Qoutations</li>
    <li class="ml-4 hover:bg-slate-50 hover:text-gray-800">Equipments</li>
    <li class="ml-4 hover:bg-slate-50 hover:text-gray-800">Payments</li>
    <li class="ml-4 hover:bg-slate-50 hover:text-gray-800">Statistics</li>
    <li class="ml-4 hover:bg-slate-50 hover:text-gray-800">Help</li>
  </ul>
</div>